.outer_container
{
    width: 90%;
    height: 60%;
    margin: 2% 5%;
    border-radius: 200px;
    background-color: ivory;
    box-shadow: 20px 20px 15px #c0b4b4;
    text-align: center;
}
.inner_container_img_left , .inner_container_img_right
{
    width:25%;
    height: 60%;
    margin: 60px 50px;
    border-radius: 40px;

}

.inner_container_img_left
{
    float: left;


}

.parahead
{
    color:  rgb(8, 8, 112);
    font-family: cursive;
    text-shadow: 5px 5px 2px #c0b4b4;
    font-size: 40px;
    padding-top: 60px;

}
.para_text
{
    font-family: cursive;
    font-size: 20px;
    color: black;
    margin: 0 6%;
    

}
.para_button
{
    text-align: center;
    height: 80px;
    width: 200px;
    font-family: cursive;
    font-size: 20px;
    padding: 10px 20px;
    background-color: khaki;
    border-radius: 50px;
    box-shadow: 5px 5px 2px #c0b4b4;
    margin-top: 50px;
    cursor: pointer;
}
.inner_container_img_right
{
    float: right;
}